.body {
  background-color: rgb(245, 244, 244);
  position: relative;
}
a {
  color: black;
}
.App {
  display: flex;
  flex-direction: column;
}
.section {
  display: flex;
  position: relative;
  top: 50px;
  align-items: center; 
  justify-content: space-evenly;
  flex-direction: row;
  width: 40%;
  margin: auto;
}
@media (max-width: 500px) {
  .section {
    width: 100%;
    height: 150px;
    margin: 0px;
  }
}
.rightSide {
  width: 100%;
  margin: 50px;
  padding: 0px;
}
@media (min-width: 500px) and (max-width: 1024px) {
  .rightSide {
  margin-left: 150px;
  padding: 0px;
  }
  }
@media (max-width: 500px) {
  .rightSide {
    position: relative;
    top: 30px;
    margin: 0px;
    }
}
.nameEditSettings {
  display: flex;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
}
/* @media (max-width: 500px) {
  .nameEditSettings {
    
  }
} */
.nickname {
  font-size: 28px;
  font-weight: 400;
}
@media (max-width: 500px) {
  .nickname {
    display: flex;
    position: absolute;
    top: -85px;
    left: 120px;
    font-size: 28px;
  }
}
.edit {
  font-weight: 600;
  padding: 5px 9px;
  text-align: center;
  margin-top: 15px;
  color: black;
}
@media (max-width: 500px) {
  .edit {
    display: flex;
    position: absolute;
    top: -40px;
    left: 100px;
    margin: 0px;
  }
}
.btnEdit {
  background-color: rgb(245, 244, 244);
}
.settings {
  background-color: rgb(245, 244, 244); 
  margin-top: 15px;
}
@media (max-width: 500px) {
  .settings {
    display: flex;
    position: absolute;
    top: -50px;
    left: 200px;
  }
}
.secondString {
  display: flex;
  position: relative;
  align-items: flex-start;
  /* justify-content: space-around; */
  /* margin: 15px; */
  flex-direction: row;
  width: 100%;
  font-size: 16px;
  margin: 15px 0px 20px 0px;
}
@media (max-width: 500px) {
  .secondString {
    display: flex;
    position: absolute;
    top: 140px;
    justify-content: space-evenly;
    margin: 0px 0px 0px 0px;
    width: 100%;
    font-size: 14px;
    border-top: 1px solid rgb(190, 182, 182);
    align-items: center;
    height: 60px;
  }
}
.followers {
  margin-left: 30px;
}

.thirdString {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  font-size: 16px;
  margin-top: 10px;
}

@media (max-width: 500px) {
  .name {
    display: flex;
    position: absolute;
    left: 10px;
    top: 5px;
  }
}

.profileImg {
width: 150px;
height: 150px;
border-radius: 60%;
}

@media (min-width: 500px) and (max-width: 1024px) {
  .profileImg {
    display: flex;
    position: absolute;
    top: 100px;
    left: 120px;
  }
  }

@media (max-width: 500px) {
  .profileImg {
    display: flex;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 80px;
    height: 80px;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* height: 258px; */
  position: relative;
  top: 70px;
  width: 50%;
  margin-left: 305px;
  box-sizing: border-box;
}

@media (min-width: 500px) and (max-width: 1024px) {
  .grid {
  margin: 35px;
  margin-top: -100px;
  padding: 0px;
  }
  }

@media (max-width: 500px) {
    .grid {
      width: 100%;
      margin: 0px;
      margin-top: 180px;
      grid-gap: 3px;
    }
}  

.grid .img {
  width: 278px;
  height: 278px;
  margin: 13px;
} 

@media (min-width: 500px) and (max-width: 1024px) {
  .grid .img {
  width: 293px;
  height: 293px;
  }
  }

@media (max-width: 500px) {
  .grid .img {
    width: 100%;
    height: 123px;
    margin: 0px;
  }
}
.album {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
}
.post {
  position: fixed;
  width: 300px;
  height: 300px;
  margin: auto; 
}
