/* #root {
  display: flex;
  flex-direction: row;
} */
@media (max-width: 500px) and (min-width: 100px) {
  .searchInput {
    visibility: hidden;
  }
  .instagram {
    position: absolute;
    left: 20px;
    top: -10px;
    font-size: 22px;
  }
  }
.body {
  background-color: rgb(245, 244, 244);
}
a {
  color: black;
}
.App {
  display: flex;
  flex-direction: column;
}
.section {
  display: flex;
  /* position: relative; */
  align-items: center; 
  justify-content: space-evenly;
  flex-direction: row;
  width: 40%;
  margin: auto;
}
.rightSide {
  width: 100%;
  margin: 50px;
  padding: 0px;
}
.nameEditSettings {
  display: flex;
  position: relative;
  align-items: flex-start;
  width: 100%;
}
.nickname {
  font-size: 28px;
  font-weight: 400;
}
@media (max-width: 500px) {
  .nickname {
    display: flex;
    position: absolute;
    top: -30px;
    left: -30px;
    font-size: 28px;
  }
}
.edit {
  font-weight: 600;
  padding: 5px 9px;
  text-align: center;
  margin-top: 15px;
  color: black;
}
@media (max-width: 500px) {
  .edit {
    display: flex;
    position: absolute;
    top: 0px;
    left: -50px;
  }
}
.btnEdit {
  background-color: rgb(245, 244, 244);
}
.settings {
  background-color: rgb(245, 244, 244); 
  margin-top: 15px;
}
@media (max-width: 500px) {
  .settings {
    position: absolute;
    top: -30px;
    left: 160px;
  }
}
.secondString {
  display: flex;
  position: relative;
  align-items: flex-start;
  /* justify-content: space-around; */
  /* margin: 15px; */
  flex-direction: row;
  width: 100%;
  font-size: 16px;
  margin: 15px 0px 20px 0px;
}
@media (max-width: 500px) {
  .secondString {
    display: flex;
    position: absolute;
    top: 300px;
    left: 0px;
    justify-content: space-evenly;
    font-size: 14px;
    border-top: 1px solid rgb(209, 203, 203);
    align-items: center;
    height: 50px;
  }
}
.followers {
  margin-left: 30px;
}

.thirdString {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  font-size: 16px;
  margin-top: 10px;
}

@media (max-width: 500px) {
  .name {
    display: flex;
    position: absolute;
    left: -150px;
    top: 60px;
  }
}

.profileImg {
width: 150px;
height: 150px;
border-radius: 60%;
}

@media (max-width: 500px) {
  .profileImg {
    display: flex;
    position: absolute;
    top: 80px;
    left: 30px;
    width: 80px;
    height: 80px;
  }
}

.stories {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  align-items: center; 
  margin-left: 360px;
}

@media (max-width: 500px) {
  .stories {
    display: flex;
    position: absolute;
    left: -350px;
    top: 220px;
    width: 55%;
    justify-content: space-around;
    /* width: 0%; */
  }
}
.storiesImg {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

@media (max-width: 500px) {
  .storiesImg {
    width: 56px;
    height: 56px;
  }
}
.storiesCaption {
  text-align: center;
}

@media (max-width: 500px) {
  .storiesCaption {
    font-size: 12px;
  }
}
.navigation {
  display: flex;
  position: relative;
  width: 60%; 
  margin: auto;
  margin-top: 50px;
  margin-bottom: 0px;
  height: 60px;
  border-top: 1px solid rgb(209, 203, 203);
  align-items: center;
}
@media (max-width: 500px) {
  .navigation {
    width: 100%;
    position: absolute;
    top: 320px;
    border-bottom: 1px solid rgb(209, 203, 203);
    /* justify-content: space-around; */
  }
}
.list {
  display: flex;
  width: 80%;
  justify-content: space-around;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* height: 258px; */
  width: 50%;
  margin-left: 305px;
  box-sizing: border-box;
}

@media (max-width: 500px) {
    .grid {
      width: 100%;
      margin: 0px;
      margin-top: 265px;
      grid-gap: 3px;
    }
}  

.grid .img {
  width: 278px;
  height: 278px;
  margin: 13px;
} 

@media (max-width: 500px) {
  .grid .img {
    width: 100%;
    height: 123px;
    margin: 0px;
  }
}
.album {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
}
.image2 {
  position: absolute;
  top: 25px;
  left: 260px;
  /* width: 25px;
  height: 25px; */
}
.caption {
  width: 100%;
}
.topPanel {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center; 
  justify-content: space-evenly;
  border-bottom: 1px solid rgb(209, 203, 203);
  /* margin-bottom: 15px; */
}
@media (max-width: 500px) {
  .topPanel {
width: 100%;
  }
}

.searchInput {
  background-color: rgb(245, 244, 244);
  color: rgb(124, 107, 107);
  border-radius: 5%;
  border-width: 1px;
  height: 30px;
  width: 230px;
  text-align: center;
  box-sizing: border-box;
}

.icons {
  display: flex;
  justify-content: space-around;
  width: 15%;
}
@media (max-width: 500px) {
  .icons {
    display: flex;
    position: absolute;
    right: 10px;
    top: 15px;
    justify-content: space-between;
    width: 45%;
  }
}
.icon {
  width: 25px;
  height: 25px;
}
.profile {
  border-radius: 50%;
}